<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #171717;
            height: 80px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
        }

        li {
            margin-left: 20px;  
            /* make responsive */
        }

        nav ul li a {
            background-color: #a1bd6c;
            border-radius: 10px;
            height: 30px;
            font-size: 22px;
            color: #292828;
            padding: 5px 15px;
            text-decoration: none;
        }

        a:hover {
            color: rgb(250, 250, 250);
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="register">Sign UP</a></li>
            <li><a href="login">Sign IN</a></li>
        </ul>
    </nav>
</body>
</html>
